.product-list-container {
    padding: 30px 30px 20px 0px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

.pagination-button {
    margin: 0 5px;
    height: 40px;
    width: 40px;
    border: 1px solid #ddd;
    border-radius: 50%;
    background-color: #fff;
    color: #0a0a0a;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.pagination-button:hover,.pagination-button.active  {
    background-color: var(--primary-color);
    color: #fff;
}

 @media (max-width: 1024px) {
    .product-list-container {
        padding:0;
        min-height: 100vh;
        overflow: visible !important;
    }

    .right-pane-title{
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .pagination {
        margin-top: 10px;
        padding-bottom: 20px;
        /* ✅ Ensures it's not cut off */
    }
 }