.product-details-container {
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 20px;
    /* background-color: #fff; */
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.product-container {
    display: flex;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ddd;
    /* max-width: 800px; */
    margin: 20px auto;

    .product-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .image-container {
        flex: 1;
        margin-right: 20px;
    }

    .product-image {
        width: 100%;
        border-radius: 8px;
    }

    .details-container {
        flex: 2;
    }

    .product-brand,
    .product-category,
    .product-availability,
    .product-min-order {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .product-brand{
        padding:0px 10px 0px 5px;
    }
    .product-category{
        background-color: #ffebcc;
            color: #d67f00;
            padding: 5px 10px;
            font-size: 14px;
            border-radius: 12px;
            width: fit-content;
    }
    .product-stock{
        margin-left: 1rem;
        /* font-size: 14px; */
    }
    /* .product-availability {
        color: #d9534f;
    } */

    .availability-status {
        padding: 5px 10px;
        border-radius: 5px;
        /* font-weight: bold; */
        display: inline-block;
    }

    .in-stock {
        background-color: #e6f4ea;
        color: #2d7a47;
    }

    .low-stock {
        background-color: #fff3cd;
        color: #856404;
    }

    .price-container {
        display: flex;
        align-items: baseline;
        margin-bottom: 10px;
    }

    .original-price {
        font-size: 18px;
        text-decoration: line-through;
        margin-right: 10px;
        color: #999;
    }

    .discounted-price {
        font-size: 22px;
        font-weight: bold;
        margin-right: 10px;
        /* color: #d9534f; */
    }

    .discount-percentage {
        font-size: 16px;
        color: #5cb85c;
    }

    .rating-container {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .product-rating {
        font-size: 18px;
        font-weight: bold;
        margin-right: 10px;
    }

    .stars {
        font-size: 18px;
        color: #ffa500;
    }

    .product-description {
        font-size: 16px;
        line-height: 1.5;
    }
}
