:root {
    --primary-color: #f2a900;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F3F3F3;
    color: #0A0A0A;
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;
}
@media (min-width: 1024px) { 
    /* Left panel: Product details */
    .left-panel {
        flex: 1;
        max-width: 900px;
        min-width: 600px;
    }

    /* Right panel: Product list */
    .right-panel {
        width: 400px;
        min-width: 350px;
        padding-left: 20px;
    }
}

@media (max-width: 1024px) {
    /* Tablets */
    .main-container {
        align-items: flex-start;
        height: auto;
        gap: 20px;
    }

    .left-panel {
        flex:1;
        min-width: 300px;
        max-width: 5500px;
    }

    .right-panel {
        /* flex: 1; */
        width: 300px;
        border-left: none;
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    /* Mobile */
    .main-container {
        flex-direction: column;
        gap: 15px;
        height: auto;
    }

    .left-panel,
    .right-panel {
        width: 100%;
        max-width: 100%;
    }
}